.UserPage{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
    background:#ffeef3;
.main{
        max-width: 600px;
        width: 90%;
        background-color:#fff ;
        height: 90%;
        box-shadow: 0 0 4px 0 #1b1b1b;
        .header{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 2px;
            height: 30%;
            background:var(--prime-color);
            img{
                width: 80px;
                height: 80px;
            }
            p{
                color: #fff;
            }
        }
    }
    ul{
    list-style: none;
    padding-inline-start: 0;
    padding: 2%;
    li{
        margin: 0;
        padding: 0;
    }
    }
}